@{
    ViewData["Title"] = "Quên mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/assets/css/styles.min.css" rel="stylesheet" />
<link href="~/assets/libs/bootstrap/dist/css/bootstrap.min.css" />

<!-- Quên mật khẩu -->
<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="card shadow-sm p-4" style="max-width: 400px; width: 100%; border-radius: 15px; background: #f9f9f9;">
        @if (ViewData.ModelState[""]?.Errors.Count > 0)
        {
            <div class="alert alert-danger">
                @foreach (var error in ViewData.ModelState[""]!.Errors)
                {
                    <p class="mb-0">@error.ErrorMessage</p>
                }
            </div>
        }
        <h2 class="text-center mb-4" style="color: #004aad; font-weight: bold;">Quên mật khẩu</h2>
        <form asp-action="ForgotPassword">
            <div class="mb-3">
                <input type="email" id="email" name="email" class="form-control form-control-lg" required placeholder="Nhập email của bạn" />
            </div>
            <!-- Google reCAPTCHA --> 
             <div class="g-recaptcha mb-3 w-100" data-sitekey="@ViewBag.SiteKey" data-callback="verifyCaptcha"></div> 
             <!-- Thêm trường để lưu trữ giá trị reCAPTCHA --> 
             <input type="hidden" id="recaptchaResponse" name="g-recaptcha-response" /> 
            
            <button type="submit" class="btn  btn-lg w-100 py-2" style="background-color: #004aad; color:white">Gửi</button>
        </form>
        <div class="mt-4 text-center">
            <a asp-action="Login" style="color: #004aad;">Quay lại trang đăng nhập</a>
        </div>
    </div>
</div>

 <script src="https://www.google.com/recaptcha/api.js" async defer></script>  
<script src="~/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
