@{
    ViewData["Title"] = "Trang chủ";
    Layout = "~/Areas/SV/Views/Shared/_LayoutSV.cshtml";
}

<!-- top -->
<div class="full_bg">
    <div class="slider_main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="5000">
                        <div class="carousel-inner">
                            <!-- first slide -->
                            <div class="carousel-item active">
                                <div class="carousel-caption relative">
                                    <div class="row d_flex">                                       
                                        <div class="col-md-12">
                                            <div class="banner_img">
                                                <figure><img class="img_responsive" src="~/assetsSV/images/banner3.png"></figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- second slide -->
                            <div class="carousel-item">
                                <div class="carousel-caption relative">
                                    <div class="row d_flex">
                                        <div class="col-md-12">
                                            <div class="banner_img">
                                                <figure><img class="img_responsive" src="~/assetsSV/images/banner4.png"></figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- third slide-->
                            <div class="carousel-item">
                                <div class="carousel-caption relative">
                                    <div class="row d_flex">
                                        
                                        <div class="col-md-12">
                                            <div class="banner_img">
                                                <figure><img class="img_responsive" src="~/assetsSV/images/banner5.png"></figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
<!-- end banner -->
<!-- our class -->

<div>
    <section class="about_university py-5 bg-light">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 mb-4 mb-md-0">
                    <img src="~/assetsSV/images/dhnt.jpg" alt="Trường Đại học ABC" class="img-fluid rounded shadow">
                </div>
                <div class="col-md-6">
                    <h2 class="mb-3" style="font-size: 35px">Giới thiệu Trường Đại học Nha Trang</h2>
                    <p>
                        Tiền thân của Trường Đại học Nha Trang là Khoa Thủy sản, thuộc Học viện Nông Lâm Hà Nội, được thành lập vào ngày 01/8/1959, sau đó được tách ra và lấy tên là Trường Thủy sản vào ngày 16/8/1966. Năm 1976, Trường chuyển từ TP. Hải Phòng và TP. Nha Trang (tỉnh Khánh Hòa) và lần lượt đổi tên thành Trường ĐH Hải sản (năm 1977) và Trường Đại học Thủy sản (năm 1980). 
                        Theo Quyết định số 172/2006/QĐ-TTg của Thủ tướng Chính phủ, kể từ ngày 25/7/2006, Trường chính thức mang tên “Trường Đại học Nha Trang”.
                    </p>
                    <p>
                        Tọa lạc trên ngọn đồi Lasan phía Đông Bắc thành phố biển Nha Trang, với 2 mặt giáp biển, Trường Đại học Nha Trang là một trong những trường đại học có cảnh quan đẹp nhất Việt Nam. Trải qua hơn 65 năm xây dựng và phát triển, đến nay, Trường Đại học Nha Trang đã trở thành một cơ sở đào tạo đa ngành, đa lĩnh vực, đa cấp học có uy tín, với nền tảng, thế mạnh là lĩnh
                        vực khoa học - công nghệ biển và thủy sản. Với vị thế là đơn vị đào tạo hàng đầu về khoa học nghề cá và nuôi trồng thủy sản ở cấp quốc gia, Trường Đại học Nha Trang tiếp tục giữ vai trò quan trọng trong việc thúc đẩy phát triển kinh tế biển Việt Nam,
                        góp phần cung cấp nguồn nhân lực cần thiết đáp ứng quá trình hội nhập tất yếu của quốc gia.
                    </p>
                    <a href="https://ntu.edu.vn/gioi-thieu/gioi-thieu-chung"
                       class="btn btn-primary mt-3"
                       target="_blank"
                       rel="noopener noreferrer">
                        Tìm hiểu thêm
                    </a>
                </div>
            </div>
        </div>
    </section>

</div>

<div class="class">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage text_align_center" style="padding-bottom: 20px; padding-top: 0px">
                    <h2>Tin nổi bật</h2>
                </div>
            </div>
        </div>
        <div class="container my-4">
            <div class="row">
                <!-- Tin tức 1 -->
                <div class="col-md-4 mb-4">
                    <div class="news-box p-3 h-100 shadow rounded text-center">
                        <img src="~/assetsSV/images/news1.jpg" class="img-fluid mb-3" alt="News 1">
                        <h5>Khai mạc Cuộc thi Khởi nghiệp sinh thái ECOViP 2025</h5>
                        <p>Tin tức khởi nghiệp sinh thái dành cho sinh viên toàn quốc...</p>
                        <a class="btn btn-outline-primary btn-sm" href="#">Xem thêm</a>
                    </div>
                </div>

                <!-- Tin tức 2 -->
                <div class="col-md-4 mb-4">
                    <div class="news-box p-3 h-100 shadow rounded text-center">
                        <img src="~/assetsSV/images/news2.jpg" class="img-fluid mb-3" alt="News 2">
                        <h5>Hội thảo “Chuyển đổi số trong giáo dục”</h5>
                        <p>Diễn ra vào tháng 4 với nhiều chuyên gia công nghệ hàng đầu...</p>
                        <a class="btn btn-outline-primary btn-sm" href="#">Xem thêm</a>
                    </div>
                </div>

                <!-- Tin tức 3 -->
                <div class="col-md-4 mb-4">
                    <div class="news-box p-3 h-100 shadow rounded text-center">
                        <img src="~/assetsSV/images/news3.jpg" class="img-fluid mb-3" alt="News 3">
                        <h5>Sinh viên đạt giải Olympic Tin học toàn quốc</h5>
                        <p>Một bước tiến lớn cho khoa CNTT trường ta trong năm nay...</p>
                        <a class="btn btn-outline-primary btn-sm" href="#">Xem thêm</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end our class -->
<!-- about -->
    <div class="container" style="background-color: #3F0BCF;">
        <div class="row align-items-center gy-4">
            <div class="col-12 col-md-6 order-1 order-md-2 text-center">
                <img src="~/assetsSV/images/tuyensinh.png"
                     alt="Tuyển sinh 2025"
                     class="img-fluid rounded shadow-sm">
            </div>
        <div class="col-12 col-md-6 order-2 order-md-1">
            <h2 class="display-5 fw-bold mb-3 text-white">
                Thông tin Tuyển sinh<br>Năm 2025
            </h2>
            <p class="lead mb-4 text-light">
                Trường Đại học Nha Trang thông báo tuyển sinh các hệ đào tạo Đại học,
                Cao đẳng với đa dạng ngành học. Khám phá ngay cơ hội học tập, chính sách học bổng
                và định hướng nghề nghiệp phù hợp với bạn!
            </p>
            <a href="https://tuyensinh.ntu.edu.vn/"
               class="btn btn-light"
               target="_blank" rel="noopener">
                Xem chi tiết
            </a>
        </div>
        </div>
    </div>


